html * {
  box-sizing: border-box;
}

html {
  background-color: #C7CAFD;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  width: 90%;
}

body{
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(50, 12.5px);
}

.grille {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(50, 12.5px);
}

a {
  color:black;
  text-decoration: none;
}

.titre1 {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  grid-column-start: 4;
  grid-row-end: 4;
  white-space: nowrap;
  }

.titre2 {
  font-size: 19px;
  font-weight: 400;
  font-style:italic;
  line-height:15%;
  white-space: nowrap;
  grid-column-start: 5;
  grid-row-end: 7;
}

.langue {
  font-style:italic;
  font-size: 19px;
  text-align: right;
  text-decoration: underline;
  white-space: nowrap;
  grid-column-end: -6;
  grid-row-end: 4;
  }


.propos{
    font-style:italic;
    font-size: 19px;
    text-decoration: underline;
    white-space: nowrap;
    grid-column-end:-10;
    grid-row-end:7;
    text-align: right;
  }

  .contact{
    font-style:italic;
    font-size: 19px;
    text-decoration: underline;
    white-space: nowrap;
    grid-column-end: -6;
    grid-row-end: 7;
    text-align: right;
  }

  .retour{
    font-style:italic;
    font-size: 19px;
    text-decoration: underline;
    white-space: nowrap;
    grid-column-end: -5;
    grid-row-end: 10;
}

.cv{
  font-style:italic;
  font-size: 19px;
  text-decoration: underline;
  white-space: nowrap;
  grid-column-end: -13;
  grid-row-end: 7;
  text-align: right;
}

.bonjour{
  z-index: 1;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  grid-column-start: 24;
  grid-row-start: 18;
  text-align: left;
  white-space: nowrap;
}

.contacter{
  z-index: 1;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  grid-column-start: 31;
  grid-column-end: 70;
  grid-row-start: 19;
  text-align: left;
  white-space: nowrap;
}

.hello{
  grid-column-start: 31;
  grid-row-start: 34;
}

.stage{
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  grid-column-start: 31;
  grid-row-start: 29;
  text-align: left;
  white-space: nowrap;
}
