html * {
  box-sizing: border-box;
}

html {
  background-color: #D3C3F8;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  width: 90%;
}

body{
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(450, 12.5px);
}

.grille {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(450, 12.5px);
}

a {
  color:black;
  text-decoration: none;
}



.titre1 {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  grid-column-start: 4;
  grid-row-end: 4;
  white-space: nowrap;

  }

.titre2 {
  font-size: 19px;
  font-weight: 400;
  font-style:italic;
  line-height:15%;
  white-space: nowrap;
  grid-column-start: 5;
  grid-row-end: 7;
}

.langue {
  font-style:italic;
  font-size: 19px;
  text-decoration: underline;
  grid-column-end: -6;
  grid-row-end: 4;
  }

.propos{
      font-style:italic;
      font-size: 19px;
      text-decoration: underline;
      white-space: nowrap;
      grid-column-end:-11;
      grid-row-end:7;
      text-align: right;
    }

  .contact{
      font-style:italic;
      font-size: 19px;
      text-decoration: underline;
      white-space: nowrap;
      grid-column-end: -7;
      grid-row-end: 7;
      text-align: right;
    }

.retour{
  font-style:italic;
  font-size: 19px;
  text-decoration: underline;
  white-space: nowrap;
  grid-column-end: -6;
  grid-row-end: 10;

}

.imagecouv{
  grid-column-start: 41;
  grid-row-start: 14;
}

.info1{
  font-style:italic;
  font-size: 20px;
  font-weight: 700;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-bottom: 37px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 37;
  grid-row-start: 14;
}

.info2{
  font-style:italic;
  font-size: 19px;
  border-bottom: solid 1px;
  padding-bottom: 39px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 18;
}

.info3{
  font-style:italic;
  font-size: 19px;
  border-bottom: solid 1px;
  padding-bottom: 39px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 22;
}

.info4{
  font-style:italic;
  font-size: 19px;
  border-bottom: solid 1px;
  padding-bottom: 39px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 26;
}

.explication{
  font-size: 12px;
  font-weight: 400;
  grid-column-start: 4;
  grid-column-end: 39;
  grid-row-start: 33;
  text-align: left;
  white-space: nowrap;
}

.image1{
  grid-column-start: 41;
  grid-row-start: 65;
}

.image2{
  grid-column-start: 17;
  grid-row-start: 65;
}

.image3{
  grid-column-start: 41;
  grid-row-start: 102;
}

.image4{
  grid-column-start: 17;
  grid-row-start: 91;
}

.image5{
  grid-column-start: 17;
  grid-row-start: 118;
}

.image6{
  grid-column-start: 41;
  grid-row-start: 139;
}

.image7{
  grid-column-start: 17;
  grid-row-start: 145;
}

.image8{
  grid-column-start: 17;
  grid-row-start: 172;
}

.image9{
  grid-column-start: 41;
  grid-row-start: 214;
}

.image10{
  grid-column-start: 17;
  grid-row-start: 225;
}

.image11{
  grid-column-start: 41;
  grid-row-start: 250;
}

.image12{
  grid-column-start: 17;
  grid-row-start: 252;
}

.image13{
  grid-column-start: 17;
  grid-row-start: 279;
}

.image14{
  grid-column-start: 41;
  grid-row-start: 286;
}

.image15{
  grid-column-start: 17;
  grid-row-start: 305;
}

.image16{
  grid-column-start: 41;
  grid-row-start: 322;
}

.image17{
  grid-column-start: 41;
  grid-row-start: 358;
}

.image18{
  grid-column-start: 17;
  grid-row-start: 332;
}

.image19{
  grid-column-start: 17;
  grid-row-start: 385;
}

.image20{
  grid-column-start: 41;
  grid-row-start: 395;
}

.image21{
  grid-column-start: 17;
  grid-row-start: 412;
}
