html * {
  box-sizing: border-box;
}

html {
  background: url(../back/2/test2grillesite.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  width: 90%;
}

body{
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(200, 12.5px);
}

.grille {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(200, 12.5px);
}

a {
  color:black;
  text-decoration: none;
}



.titre1 {
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  grid-column-start: 4;
  grid-row-end: 4;
  white-space: nowrap;

  }

.titre2 {
  font-size: 19px;
  font-weight: 400;
  font-style:italic;
  line-height:15%;
  white-space: nowrap;
  grid-column-start: 6;
  grid-row-end: 8;
}

.langue {
  font-style:italic;
  font-size: 19px;
  text-decoration: underline;
  grid-column-end: -6;
  grid-row-end: 4;
  }


.about{
    font-style:italic;
    font-size: 19px;
    text-decoration: underline;
    white-space: nowrap;
    grid-column-end: -11;
    grid-row-end: 7;
 }

.retour{
  font-style:italic;
  font-size: 19px;
  text-decoration: underline;
  white-space: nowrap;
  grid-column-end: -6;
  grid-row-end: 10;

}
