html * {
  box-sizing: border-box;
}

html {
  background-color: #5BB894;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  width: 90%;
}

body{
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(450, 12.5px);
}

.grille {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows:repeat(450, 12.5px);
}

a {
  color:black;
  text-decoration: none;
}



.titre1 {
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  grid-column-start: 4;
  grid-row-end: 4;
  white-space: nowrap;

  }

.titre2 {
  font-size: 19px;
  font-weight: 400;
  font-style:italic;
  line-height:15%;
  white-space: nowrap;
  grid-column-start: 6;
  grid-row-end: 8;
}

.langue {
  font-style:italic;
  font-size: 19px;
  font-weight: 400;
  text-decoration: underline;
  grid-column-end: -6;
  grid-row-end: 4;
  }


  .propos{
      font-style:italic;
      font-size: 19px;
      text-decoration: underline;
      white-space: nowrap;
      grid-column-end:-11;
      grid-row-end:7;
      text-align: right;
    }

    .contact{
      font-style:italic;
      font-size: 19px;
      text-decoration: underline;
      white-space: nowrap;
      grid-column-end: -7;
      grid-row-end: 7;
      text-align: right;
    }
    
.retour{
  font-style:italic;
  font-size: 19px;
  font-weight: 400;
  text-decoration: underline;
  white-space: nowrap;
  grid-column-end: -6;
  grid-row-end: 10;
}

.imagecouv{
  grid-column-start: 41;
  grid-row-start: 14;
}

.info1{
  font-style:italic;
  font-size: 20px;
  font-weight: 700;
  border-top: solid 0.5px;
  border-bottom: solid 0.5px;
  padding-bottom: 37px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 37;
  grid-row-start: 14;
}

.info2{
  font-style:italic;
  font-size: 19px;
  border-bottom: solid 0.5px;
  padding-bottom: 39px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 18;
}

.info3{
  font-style:italic;
  font-size: 19px;
  border-bottom: solid 0.5px;
  padding-bottom: 39px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 22;
}

.info4{
  font-style:italic;
  font-size: 19px;
  border-bottom: solid 0.5px;
  padding-bottom: 39px;
  padding-top: 11px;
  padding-left: 59px;
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 26;
}

.explication{
  font-size: 12px;
  font-weight: 400;
  grid-column-start: 4;
  grid-column-end: 39;
  grid-row-start: 33;
  text-align: left;
  white-space: nowrap;
}

.image1{
  grid-column-start: 41;
  grid-row-start: 65;
}

.image2{
  grid-column-start: 17;
  grid-row-start: 65;
}

.image3{
  grid-column-start: 41;
  grid-row-start: 104;
}

.image4{
  grid-column-start: 17;
  grid-row-start: 115;
}

.image5{
  grid-column-start: 17;
  grid-row-start: 144;
}

.image6{
  grid-column-start: 41;
  grid-row-start: 144;
}

.image7{
  grid-column-start: 17;
  grid-row-start: 195;
}

.image8{
  grid-column-start: 17;
  grid-row-start: 224;
}

.image9{
  grid-column-start: 41;
  grid-row-start: 216;
}

.image10{
  grid-column-start: 17;
  grid-row-start: 253;
}

.image11{
  grid-column-start: 41;
  grid-row-start: 256;
}

.image12{
  grid-column-start: 17;
  grid-row-start: 303;
}

.image13{
  grid-column-start: 17;
  grid-row-start: 353;
}

.image14{
  grid-column-start: 41;
  grid-row-start: 328;
}
